@model FitnessRatingBeepServices.DTO.AtheleteFitnessBeepDto
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Yo-Yo App</title>
    <link rel="stylesheet" href="~/css/yoyo-fitness.css">
</head>
<script src="~/js/yoyo-fitness.js"></script>
<body>
    <div class="container" style="border: 1px solid black;">
        <div class="text-center">
            <h4><b>YO-YO App</b></h4>
        </div>
        <div class="progress">
            <div class="progress-bar" style="width: 0%">0%</div>
        </div>
        <div class="startButton">
            <span class="glyphicon glyphicon-play-circle">START</span>
            <div class="running-alert">
                <p>Level <b id="speedLevel"></b></p>
                <p>Shuttle <b id="shuttle"></b></p>
                <p>Speed <b id="levelSpeed">14</b>km/h</p>
            </div>
        </div>
        <div class="result-wrapper">
            <div class="row">
                <div class="col-sm-4" style="background-color: lightyellow;text-align:center">
                    <span><b>NEXT SHUTTLE</b></span><br>
                    <span id="nextShuttleTime"></span>
                </div>
                <div class="col-sm-4" style="background-color: lightsalmon;text-align:center">
                    <span><b>TOTAL TIME</b></span><br>
                    <span id="totalTime"></span>
                </div>
                <div class="col-sm-4" style="background-color: lightgreen;text-align:center">
                    <span><b>TOTAL DISTANCE</b></span><br>
                    <span id="TotalDistance"></span>
                </div>
            </div>
            <div class="track">
                <h3>Track</h3><hr>
                <div id="athlete-details">
                    @foreach (var atheleteDtos in Model.AtheleteDtos)
                    {
                        <div class="row" data-id=@atheleteDtos.Id>
                            <div class="col-sm-3"><h4>@atheleteDtos.Name</h4></div>
                            <div class="col-sm-3"><button type="button" class="btn btn-primary" disabled="@atheleteDtos.IsWarning">Warning</button></div>
                            <div class="col-sm-3"><button type="button" class="btn btn-danger">Error</button></div>
                            <div><h4 id="result"></h4> </div>
                        </div><hr>
                    }
                </div>
            </div>


            <div id="athlete-results">
                <h3>Results</h3>
                <div class="row">
                    <div class="col-sm-3"><h4>Sarath</h4></div>
                    <div><h4 id="final-result">12-3</h4> </div>
                </div><hr>
            </div>

        </div>
    </div>
</body>
</html>


